extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Katherine Rodge
        p.lead.text-light
          | Creative Web Developer

        .portfolio-bio
          p
            | Hello and Welcome! My name is Katherine. I'm a graphic designer, web developer, and life long learner.
            | It is so great to meet you! #[br] #[br] My perfect job would consist of the ability to do something that allows me to bring out the talents and passions of others.
            | Since I have always had a passion for technology and problem solving, what better way to do that than through fun web sites and create coding?
            | I would love the opportunity to bring out YOUR talents and passions. Interested?
            | Let's talk about your goals and dreams for your amazing new website over sugary coffee drinks with extra whip cream.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Javascript
          li Node.js
          li API
          li PUG
          li Front End Development
          li Web Designer
          li Graphic Designer
          li Adobe Creative Suites

        h6 Contact Info
        ul
          li 517-648-4685
          li rodgek@mail.gvsu.edu

        a.button.expanded(href='https://www.linkedin.com/in/katherine-r-24264066/') LinkedIn
        a.button.expanded(href='https://github.com/KatherineRodge') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
