extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Katherine

        //- Feel free personalize the title below
        p.lead.text-light
          | Creative Web Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Javascript
          li Node.js
          li API
          li Front End Developer
          li Web Designer
          li Graphic Design
          li Circus Preformer

        h6 Contact Info
        ul
          li 517-648-4685
          li rodgek@mail.gvsu.edu

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/katherine-r-24264066/') LinkedIn
        a.button.expanded(href='https://github.com/KatherineRodge') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
